@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@font-face {
    font-family: NEXTART_Regular;
    src: url(/CSS/font/NEXTART_Regular.otf);
}



body, html {
  
  margin: 0;
  padding: 0;
overflow-x: hidden;
    background:white; 
}

header{
    padding-top: 3;
    margin-top:auto;
    margin-right:auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    background-size:cover;
    background-position: top;
     background: linear-gradient(-45deg, #35577D, #141E30); 
    
}

.nav {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    position: relative;
    z-index: 1;


}

.navitem {
    text-align: center;
    padding: 20px 20px;
    padding-left: 20px;
    font-size: 17px;
    border-radius: 10px;
    margin-bottom: 10;
    border-style: none;
    font-family: NEXTART_Regular;
    animation: fadeIn 1s ease-in 0s 1 normal forwards;
    opacity: 0.8;
    transition: 0.6s;
    background-color: cornflowerblue;
    color: white;
}

.navitem:hover {
    background-color: white;
    opacity: 1;
    color: cornflowerblue;
}



.button{
 font-family: NEXTART_Regular;
    padding: 20px 20px;
    padding-left: 20px;
    font-size: 17px;
    border-radius: 10px;
    margin-bottom: 10;
    border-style: none;
    animation: fadeIn 1s ease-in 0s 1 normal forwards;
    color: white;
    background-color:cornflowerblue;
    opacity: 0.8;
    transition: 0.6s;
}

.button:hover {
    color: cornflowerblue;
    background-color: white;
    
}

.content{
    display: -moz-box; /* Firefox */
    display: -webkit-box; /* Chrome */
    display: flexbox;
    flex-direction: column;
    flex-align:start;
    width: 85%;
    height: 390px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: auto;
    animation: fadeIn 1s ease-in 0s 1 normal forwards;
}

.image{
    float:left;
    height:360px;   
    background-color: white;
    border: 1px solid;
    padding:10px 10px;
    animation: fadeIn 1s ease-in 0s 1 normal forwards;
    vertical-align: middle

        
}

article{
    z-index: 0;
    padding: 1px 20px;
    text-align: left;
    font-family: NEXTART_SemiBold;
    font-size: 14;
    color: black;
    line-height: 1.6;
    width:60%;
    float:right;
    clear:right;
    margin:0.5em 0 1em 1em;
    border: 2px solid black;
    animation: fadeIn 1s ease-in 0s 1 normal forwards;
}

.para-header{
    text-align: center;
    font-size:17;
    
    
}


footer{
    position: fixed;
    padding:  5px;
    bottom: 0;
    width: 100%;
            /* Height of the footer*/ 
    height: 100px;
    vertical-align: baseline;
    scroll-behavior: auto;
    margin-bottom: -11px;
    background: linear-gradient(-45deg, #35577D, #141E30);       
    
}


.foot-nav{
    display: flex;
    justify-content: space-evenly;
    margin: 10;
    position: relative;
    z-index: 1;  
}


